<h1 class="border-bottom mb-4">Detalhes da Tarefa: {{ task.title }}</h1>

<form #taskForm="ngForm">
  <div class="form-row">
    <div class="col-6 mr-sm-2">
      <label for="title" class="col-form-label">Título</label>
      <input #title="ngModel" type="text" [(ngModel)]="task.title" class="form-control"
             [class.is-invalid]="showFieldError(title)" [class.is-valid]="title.valid"
             id="title" name="title"
             required minlength="2" maxlength="255">
      <div *ngIf="showFieldError(title)" class="invalid-feedback">
        <span *ngIf="title.errors.required">Título obrigatório!</span>
        <span *ngIf="title.errors.minlength">Título deve ter no mínimo {{ title.errors.minlength.requiredLength }} caracteres</span>
        <span *ngIf="title.errors.maxlength">Título deve ter no máximo {{ title.errors.maxlength.requiredLength }} caracteres</span>
      </div>
    </div>

    <div class="col mr-sm-2">
      <label for="deadline" class="col-form-label">Prazo de Entrega</label>
      <input #deadline="ngModel" type="text" [(ngModel)]="task.deadline" class="form-control"
             [class.is-invalid]="showFieldError(deadline, false)"
             [class.is-valid]="deadline.valid" id="deadline" name="deadline" required>
      <div *ngIf="showFieldError(deadline, false)" class="invalid-feedback">
        <span *ngIf="deadline.errors.required">Prazo de entrega obrigatório!</span>
      </div>
    </div>

    <div class="col mr-sm-2">
      <label for="done" class="col-form-label">Situação</label>
      <select #done="ngModel" [(ngModel)]="task.done" name="done" id="done" class="form-control"
              [class.is-invalid]="showFieldError(done)" [class.is-valid]="done.valid" required>
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <div *ngIf="showFieldError(done)" class="invalid-feedback">Situação obrigatória!</div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12 mr-sm-2">
      <label for="description" class="col-form-label">Descrição Detalhada</label>
      <textarea [(ngModel)]="task.description" class="form-control" id="description" name="description"
                rows="4"></textarea>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col-12">
      <button class="btn btn-outline-secondary mr-2" (click)="goBack()">Voltar</button>
      <button [disabled]="taskForm.invalid" [ngClass]="{'btn-success': taskForm.valid, 'btn-secondary': taskForm.invalid}" type="submit" class="btn" (click)="updateTask()">Atualizar</button>
    </div>
  </div>
</form>

<hr>

<pre>
  {{ task | json }}
</pre>
