<h1 class="border-bottom mb-4">Detalhes da Tarefa: {{ task?.title }}</h1>

<form #taskForm="ngForm" *ngIf="task">
  <div class="form-row">
    <div class="col-6 mr-sm-2">
      <label for="title" class="col-form-label">Título</label>
      <input type="text" [(ngModel)]="task.title" class="form-control" id="title" name="title"
             required>
    </div>

    <div class="col mr-sm-2">
      <label for="deadline" class="col-form-label">Prazo de Entrega</label>
      <input type="text" [(ngModel)]="task.deadline" class="form-control" id="deadline" name="deadline">
    </div>

    <div class="col mr-sm-2">
      <label for="done" class="col-form-label">Situação</label>
      <select [(ngModel)]="task.done" name="done" id="done" class="form-control">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12 mr-sm-2">
      <label for="description" class="col-form-label">Descrição Detalhada</label>
      <textarea [(ngModel)]="task.description" class="form-control" id="description" name="description"
                rows="4"></textarea>
    </div>
  </div>

  <div class="form-row mt-4">
    <div class="col-12">
      <button class="btn btn-outline-secondary mr-2" (click)="goBack()">Voltar</button>
      <button type="submit" class="btn btn-success" (click)="updateTask()">Atualizar</button>
    </div>
  </div>

  <hr>

  <pre>{{ task | json }}</pre>


</form>
