<h1 class="border-bottom mb-4">Detalhes da Tarefa: {{ task.title }}</h1>


<form [formGroup]="form" (ngSubmit)="updateTask()">
  <div class="form-row">
    <!-- taskTitle -->
    <div class="col-6 mr-sm-2">
      <label for="title" class="col-form-label">Título</label>
      <input id="title" type="text" formControlName="title" class="form-control"
             [ngClass]="formUtils.fieldClassForErrorOrSuccess('title')">

      <div *ngIf="formUtils.showFieldError('title')" class="invalid-feedback">
        <span *ngIf="form.get('title').errors.required">Título obrigatório!</span>
        <span
          *ngIf="form.get('title').errors.minlength">Título deve ter no mínimo {{ form.get('title').errors.minlength.requiredLength }}
          caracteres</span>
        <span
          *ngIf="form.get('title').errors.maxlength">Título deve ter no máximo {{ form.get('title').errors.maxlength.requiredLength }}
          caracteres</span>
      </div>
    </div>

    <!-- taskDeadline -->
    <div class="col mr-sm-2">
      <label for="deadline" class="col-form-label">Prazo de entrega</label>
      <input id="deadline" type="text" formControlName="deadline" class="form-control"
             [ngClass]="formUtils.fieldClassForErrorOrSuccess('deadline')">
      <div *ngIf="formUtils.showFieldError('deadline')" class="invalid-feedback">
        <span *ngIf="form.get('deadline').errors.required">Prazo de entrega obrigatório!</span>
      </div>
    </div>

    <!-- taskDone -->
    <div class="col mr-sm-2">
      <label for="done" class="col-form-label">Situação</label>
      <select id="done" class="form-control" formControlName="done" [ngClass]="formUtils.fieldClassForErrorOrSuccess('done')">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <div *ngIf="formUtils.showFieldError('done')" class="invalid-feedback">Situação obrigatória!</div>
    </div>
  </div>

  <div class="form-row">
    <!-- taskDescription -->
    <div class="col-12 mr-sm-2">
      <label for="description" class="col-form-label">Descrição</label>
      <textarea id="description" rows="4" formControlName="description" class="form-control"></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="col-12 mt-2">
      <!-- buttons -->
      <button [disabled]="form.invalid"
              [ngClass]="{'btn-success': form.valid, 'btn-secondary': form.invalid}"
              type="submit"
              class="btn mr-2">Atualizar
      </button>
      <button type="button" class="btn btn-outline-secondary mr-2" (click)="goBack()">Voltar</button>
    </div>
  </div>
</form>
