<h1>Lista de Tarefas</h1>

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" placeholder="Digite aqui uma nova tarefa" [(ngModel)]="newTask.title" >
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" (click)="createTask()">
          Adicionar Tarefa
        </button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Título</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let task of tasks">
    <td>{{ task.id }}</td>
    <td>{{ task.title }}</td>
    <td>
      <a class="btn btn-info mdi mdi-information" [routerLink]="['/tasks', task.id]">
        Detalhes
      </a>
      <button class="btn btn-danger mdi mdi-trash-can" (click)="deleteTask(task)">
        Excluir
      </button>
    </td>
  </tr>
  </tbody>
</table>
