<table class="table">
  <thead>
  <th>ID</th>
  <th>Título</th>
  <th>Ações</th>
  </thead>

  <tbody>
  <tr *ngFor="let task of tasks">
    <td>{{ task.id }}</td>
    <td>{{ task.title }}</td>
    <td>
      <button class="btn btn-info mdi mdi-information" data-toggle="modal" data-target="#taskDetailModal" (click)="onSelect(task)">
        Detalhes
      </button>
      <button class="btn btn-danger mdi mdi-trash-can">
        Excluir
      </button>
    </td>
  </tr>
  </tbody>
</table>

<app-task-detail [task]="selectedTask"></app-task-detail>
