<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Task Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="authService.userSignedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard <!-- TODO: quando iserir o active ver esse span aqui <span class="sr-only">(current)</span>--></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/tasks">Tarefas</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <app-task-search></app-task-search>
    </div>
  </div>
</nav>
